*{                  /*套用整個CSS*/
    margin: 0;       /* 條整位置會用到  外框限  */   /* 全部歸零就不會有系統預設的問題，方便我們自己調整 */
    padding: 0;      /* 內邊距*/
    box-sizing: border-box;    /*  */
    font-weight: normal;         /* 字體粗細預設歸零*/
}

body{
    width: 100vw; /* VW視窗寬度  */
    background-color: rgb(55, 78, 141);
}

header{
   display: flex;          /*      有水平效果 因為預設是垂直      顯示  css排版對齊系統  FLEX=伸縮  對於位置至中調整方便*/
   align-items: center;        /* 讓上面那條LOGO置中 跟justify-content: center; 是對立的 */   
} 

header div#logo{
    margin: 1rem; 
}

header div#logo img{
    width: 120px;    /*寬度  高度 high  */   
}

/*navbar setting*/
header div.navRight{
 width: 80vw;
 display: flex;       /*display 不會被繼承*/
 justify-content: space-between;
}

header div.navRight div#navBar nav ul{
    display: flex;
    list-style-type:none;    /* 消除論壇上的黑點點   UL=沒有順序的列表   OL=有順序的列表*/
}

header div.navRight div#navBar nav ul li{
    font-size: 1.5rem; /*PX絕對單位   REM預設字體大小*/
    margin: 0.5rem;   /*調整論壇 交友外距*/
}
header div.navRight div#navBar nav ul li a{
    text-decoration:none;         /*消除預設顏色*/
    color: rgb(255, 255, 255);
}

header div.navRight div#iconBox{
    display: flex;
    align-items: center;  /*也是置中 但調整的線不一樣  | 也可以分散對齊 幫你平均*/
        
}
header div.navRight div#iconBox a {
    margin: 0 1rem;    /* 左邊是設定外距上下   右邊是設定左右兩邊*/
}